body{
    background-color: black;
    overflow: hidden;
}

.object{
    background-color: rgb(82, 0, 86);
}

#canvas{
    z-index: 0;
    position: absolute;
    margin: -5px;
}





#mainstatcontainer{
    z-index: 1;
    position: absolute;
    top: 40px;
    left: 40px;
    height: 120px;
    width: 250px;
    border: 5px solid;
    background-color: #240023;
    opacity: 1;
}

#healthbar{
    margin: 10px;
    margin-top: 15px;
    margin-left: 90px;
    margin-bottom: 5px;
    width: 150px;
    height: 40px;
    background-color: rgb(52, 0, 0);
    opacity: 2;

}

#healthcounter{
    font-family: monospace, sans-serif;
    color: white;
    text-align: center;
    align-content: center;
    font-weight: bolder;
    font-size: 0.9em;
    position: absolute;
    height: 40px;
    width: 70px;
    margin-top: 15px;
    margin-left: 10px;
    background-color: black;
}

#energybar{
    margin: 10px;
    margin-left: 90px;
    margin-top: 5px;
    width: 150px;
    height: 40px;
    background-color: rgb(52, 49, 0);

    opacity: 2;


}

#energycounter{
    font-family: monospace, sans-serif;
    color: white;
    text-align: center;
    align-content: center;
    font-weight: bolder;
    position: absolute;
    height: 40px;
    width: 70px;
    margin-top: 70px;
    margin-left: 10px;
    background-color: black;
}

#playerhand{
    z-index: 10;
}



